//Tipografia
$fuente_principal: 'Inter', sans-serif;

//Colores 
$grisClaro : #f3f5fc;
$gris : #495057;
$azulOscuro : #0A3871;
$grisOscuro : #D8DFE8;
$blanco : #FFFFFF;

//Tamaños de Media Query
$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;